*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/build

# Firma / secretos
*.jks
*.keystore
keystore.properties

# Artefactos de release
*.apk
*.aab

# Kotlin
.kotlin/
